@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --font: 'Roboto', sans-serif;
  --body-bg: #f0f4f8;
  --c-primary: #008bfe;
}

html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  font-family: var(--font);
  background: var(--body-bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
